.bg-dark {
  background-color: #0d343f;
}

.navbar-toggler {
  color: #e4eed8 !important;
  border-color: #e4eed8 !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='%23e4eed8' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}



a.navbar-brand{
  font-family:"Merienda", cursive; 
  color:#e4eed8 !important;
  animation: glow 2s ease-in-out infinite alternate;
  background-color:#2693b5;
  padding: 6px;
  margin: 0 8px 0 0;
  border-radius: 2px 16px 2px 16px;
}
@media  (min-width: 576px){
  a.navbar-brand{
    animation: none;
}
}
a.nav-link{
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #e4eed8 !important;
  background-color:#428751;
  padding: 8px;
  margin: 0 8px 0 0;
  border-radius: 0 16px 0 16px;
}
a.nav-link:hover{
  color: #0d343f !important;
  background-color:#efb32f;
}
@media (max-width: 576px) {
  .nav-link-custom {
    background-color: transparent !important;
  }
}


@media (min-width:576px) and (max-width:600px){
  a.nav-link{
  font-size: 12px;
}
}

@media (max-width: 576px) {
  .nav-link-custom::focus {
    color: orange !important;
  }
}




/*
body {
  background: rgb(239,179,47);
background: linear-gradient(180deg, rgba(239,179,47,1) 0%, rgba(38,147,181,1) 80%, rgba(66,135,81,1) 100%);
}
*/


body {
background: rgb(38,147,181);
background: linear-gradient(180deg, rgba(38,147,181,1) 1%, rgba(239,179,47,1) 55%, rgba(66,135,81,1) 90%);
}

.glowtext1 {
  font-family: "Merienda", cursive;
  color: #0d343f;
  font-weight: 900;
  font-size: 72px;
  text-align: left;
  animation: glow 1s ease-in-out infinite alternate;
}

.glowtext2 {
  font-family: "Merienda", cursive;
  color: #0d343f;
  font-weight: 900;
  font-size: 72px;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

.glowtext3 {
  font-family: "Merienda", cursive;
  color: #0d343f;
  font-weight: 900;
  font-size: 72px;
  text-align: right;
  animation: glow 1s ease-in-out infinite alternate;
}

.carouseltext1 {
  font-family: "Raleway", sans-serif;
  color:#e4eed8;
  font-weight: 600;
  font-size: 28px;
  padding-top: 8px;
  text-align: left;
  text-shadow: 0 0 1px #0d343f, 0 0 2px #efb32f, 0 0 8px #0d343f, 0 0 16px #efb32f;
}

.carouseltext2 {
  font-family: "Raleway", sans-serif;
  color: #e4eed8;
  font-weight: 600;
  font-size: 28px;
  padding-top: 8px;
  text-align: center;
  text-shadow: 0 0 1px #0d343f, 0 0 2px #efb32f, 0 0 8px #0d343f, 0 0 16px #efb32f;
}
.carouseltext3 {
  font-family: "Raleway", sans-serif;
  color: #e4eed8;
  font-weight: 600;
  font-size: 28px;
  padding-top: 8px;
  text-align: right;
  text-shadow: 0 0 1px #0d343f, 0 0 2px #efb32f, 0 0 8px #0d343f, 0 0 16px #efb32f;
}

@keyframes glow {
  from {
    text-shadow: 0 0 7px #e4eed8, 0 0 10px #e4eed8, 0 0 21px #e4eed8,
      0 0 42px , 0 0 82px #7fac3a, 0 0 92px #2693b5, 0 0 102px #7fac3a,
      0 0 151px #2693b5;
  }
  to {
    text-shadow: 0 0 14px #e4eed8, 0 0 20px #e4eed8, 0 0 31px #e4eed8,
      0 0 52px #7fac3a, 0 0 92px #2693b5, 0 0 102px #7fac3a, 0 0 112px #2693b5,
      0 0 161px #7fac3a;
  }
}

@media screen and (prefers-reduced-motion) {
  .glowtext1,
  .glowtext2,
  .glowtext3 
  {
    animation: none;
  }
}

@media (min-width:576px)and (max-width:610px){
  .glowtext1, .glowtext2, .glowtext3 {
    font-size: 28px;
  }
  .carouseltext1, .carouseltext2, .carouseltext3{
    font-size: 0;
  }
}
@media (min-width: 611px) and (max-width: 778px) {
  .glowtext1, .glowtext2, .glowtext3 {
    font-size: 32px;
  }
  .carouseltext1, .carouseltext2, .carouseltext3{
    font-size: 18px;
  }
}

@media (min-width: 779px) and (max-width: 1000px) {
  .glowtext1, .glowtext2, .glowtext3 {
    font-size: 48px;
  }
  .carouseltext1, .carouseltext2, .carouseltext3{
    font-size: 20px;
  }
}
@media (min-width: 1001px) and (max-width: 1200px) {
  .glowtext1, .glowtext2, .glowtext3 {
    font-size: 56px;
  }
}

div.col-lg-4{
  padding: 12px;
}

/* CSS
--xanthous: #efb32f;
--beige: #e4eed8;
--sea-green: #428751;
--bondi-blue: #2693b5;
--apple-green: #7fac3a;
--gunmetal: #0d343f;
--seal-brown: #431f02;
https://coolors.co/efb32f-e4eed8-428751-2693b5-7fac3a-0d343f-431f0231f02
*/
